<div class="p-4">
  <h2 class="mb-3">{{status}}</h2>
  <form [formGroup]="companyform" (ngSubmit)="saveCompany()">
    <div class="mb-3">
      <input type="text" class="form-control" placeholder=" Company Name" formControlName="companyname">
      <div
        *ngIf="validator['companyname'].invalid && (issubmited || validator['companyname'].touched || validator['companyname'].dirty )">
        <div *ngIf="validator['companyname'].errors?.['required']" class="text-danger">
          Company Name is Required
        </div>
      </div>
    </div>
    <div class="mb-3">
      <textarea class="form-control" rows="3" placeholder="Company Description"
        formControlName="companydescription"></textarea>
      <div
        *ngIf="validator['companydescription'].invalid && (issubmited || validator['companydescription'].touched || validator['companydescription'].dirty )">
        <div *ngIf="validator['companydescription'].errors?.['required']" class="text-danger">
          Company Description is Required
        </div>
      </div>
    </div>
    <select class="form-select form-select-lg" formControlName="selecttag">
      <option>Select Tag</option>
      <option>Rect</option>
      <option>Angular</option>
      <option>JavaScript</option>
      <option>java</option>
      <option>html</option>
      <option>scss</option>
    </select>
    <div
      *ngIf="validator['selecttag'].invalid && (issubmited || validator['selecttag'].touched || validator['selecttag'].dirty )">
      <div *ngIf="validator['selecttag'].errors?.['required']" class="text-danger">
        Select tag is Required
      </div>
    </div>
    <!--  -->
    <!-- <div class="mb-3 mt-3">
      <input type="file" class="file form-control">
    </div> -->
    <div class="d-flex justify-content-between">
      <div></div>
      <div>
        <button type=" reset" class="btn btn-success mt-3 me-3" (click)="reset()">Reset</button>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </div>

    </div>

  </form>
</div>
