<div class="p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <h3>COMPANY</h3>
    </div>
    <div>
      <a class="btn" (click)="addcompany()"><span class="bi bi-plus-circle fs-2 text-success"></span></a>
    </div>
  </div>
  <div class="mb-3">
    <input class="form-control mr-sm-2" type="search" placeholder="Search.." [(ngModel)]="search">
  </div>
  <div class="overflow-auto " style="height: 600px">
    <table class="table position-relative ">
      <thead class="position-sticky w-100 top-0 bg-white">
        <tr>
          <th scope="col">Logo</th>
          <th scope="col">ComapnyName</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="( companylist | filter : search) as result">
          <tr *ngFor="let item of companylist | filter : search">
            <td>
              <span class="circle border border-dark rounded-circle">{{item.companyname |
                fcharactermarge}}</span>
            </td>
            <td>
              <span (click)="editcomapny(item)">{{item.companyname}}</span>
            </td>
            <td><button type="button" class="btn btn-danger " (click)="deleteCompany(item)"><i
                  class="bi bi-trash"></i></button></td>
          </tr>
          <p *ngIf="result.length === 0">No Record Found</p>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>