<div class="p-3">
  <div class="d-flex justify-content-between mb-3">
    <div>
      <h3>COMPANY</h3>
    </div>
    <div>
      <button type="button" class="btn btn-primary rounded-circle" (click)="addcompany()">+</button>
    </div>
  </div>
  <div class="mb-3">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search.." [(ngModel)="search" ]>
    </form>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">ComapnyName</th>
          <th scope="col">Company-Description</th>
          <th scope="col">Select Tag</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of companylist |filter:search">
          <td>
            <span class="circle border border-dark rounded-circle">RD</span>
          </td>
          <td>
            <span>{{item.companyname}}</span>
          </td>
          <td>
            <span>{{item.companydescription}}</span>
          </td>
          <td>
            <span>{{item.selecttag}}</span>
          </td>
          <td><button type="button" class="btn btn-danger " (click)="deleteCompany(item.id)">X</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>