<div class="header">
  <nav class="navbar bg-dark ps-3 py-1 d-flex  align-items-center">
    <div></div>
    <div>
      <i class="bi bi-justify text-white fs-4 me-3"></i>
    </div>
    <div class=" text-white">
      <h3>Company</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Company</li>
          <li class="breadcrumb-item" *ngFor='let breadcrumb of breadcrumbs'>
             <a  class="text-white text-decoration-none" [routerLink]='[breadcrumb.url, breadcrumb.params]'>{{ breadcrumb.label }}</a></li>
        </ol> 
      </nav>
    </div>
  </nav>
</div>
